<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.master.BuildingMapper">
    <resultMap type="BuildingEntity" id="buildingResultMap">
        <result property="tinyvillage_id" column="tinyvillage_id"/>
        <result property="village_id" column="village_id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="type" column="type"/>
        <result property="id" column="id"/>
        <result property="attachment_id" column="attachment_id"/>
        <result property="create_user" column="create_user"/>
        <result property="update_user" column="update_user"/>
        <result property="update_time" column="update_time"/>
        <result property="create_time" column="create_time"/>
        <result property="create_user_id" column="create_user_id"/>
        <result property="update_user_id" column="update_user_id"/>
        <result property="status" column="status"/>
        <result property="version" column="version"/>
    </resultMap>
    <delete id="deleteBuildingByVillageID" parameterType="Long">
        <![CDATA[
            DELETE FROM t_building WHERE tinyvillage_id IN (SELECT id FROM t_tiny_village WHERE village_id=#{village_id} AND status=0)
				AND id NOT IN (SELECT building_id FROM t_house WHERE tinyvillage_id in (SELECT id FROM t_tiny_village WHERE village_id=#{village_id} AND status=0) AND status=0 GROUP BY building_id)
				AND (attachment_id != '' AND attachment_id IS NOT NULL) AND status=0
        ]]>
    </delete>

    <select id="findBuildingBynameAndTinyIdAndtype" parameterType="BuildingEntity" resultMap="buildingResultMap">
        SELECT * FROM  t_building WHERE  tinyvillage_id=#{tinyvillage_id} AND  name =#{name} AND type=#{type} AND status=0
    </select>

    <insert id="insertBuilding" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="BuildingEntity">
        insert into t_building
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="tinyvillage_id != null" >
                tinyvillage_id,
            </if>
            <if test="village_id != null" >
                village_id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="description != null" >
                description,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="attachment_id != null" >
                attachment_id,
            </if>
            <if test="create_time != null" >
                create_time,
            </if>
            <if test="update_time != null" >
                update_time,
            </if>
            <if test="create_user != null" >
                create_user,
            </if>
            <if test="update_user != null" >
                update_user,
            </if>
            <if test="create_user_id != null" >
                create_user_id,
            </if>
            <if test="update_user_id != null" >
                update_user_id,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="version != null" >
                version
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id},
            </if>
            <if test="tinyvillage_id != null" >
                #{tinyvillage_id},
            </if>
            <if test="village_id != null" >
                #{village_id},
            </if>
            <if test="name != null" >
                #{name},
            </if>
            <if test="description != null" >
                #{description},
            </if>
            <if test="type != null" >
                #{type},
            </if>
            <if test="attachment_id != null" >
                #{attachment_id},
            </if>
            <if test="create_time != null" >
                #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="update_time != null" >
                #{update_time,jdbcType=TIMESTAMP},
            </if>
            <if test="create_user != null" >
                #{create_user,jdbcType=VARCHAR},
            </if>
            <if test="update_user != null" >
                #{update_user,jdbcType=VARCHAR},
            </if>
            <if test="create_user_id != null" >
                #{create_user_id,jdbcType=BIGINT},
            </if>
            <if test="update_user_id != null" >
                #{update_user_id,jdbcType=BIGINT},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
            <if test="version != null" >
                #{version,jdbcType=INTEGER}
            </if>
        </trim>
    </insert>





</mapper>