<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.master.DfCustomerAmountMapper">

	<insert id="addCustomerAmount" parameterType="java.util.Map">
		<![CDATA[
			insert into df_customer_amount(city_name,store_id,total_price,yearandmonth,order_id) 
			values
			(#{city_name},#{store_id},#{total_price},#{yearandmonth},#{order_id});
        ]]>
	</insert>
	
	<insert id="addDfCustomerAmount" parameterType="DfCustomerAmount">
		<![CDATA[
			insert into df_customer_amount(city_name,store_id,total_price,yearandmonth,order_id) 
			values
			(#{city_name},#{store_id},#{total_price},#{yearandmonth},#{order_id});
        ]]>
	</insert>
	
	<select id="queryByCustomerIdAndStoreIdAndYearAndMonth" parameterType="dfCustomerAmount" resultType="DfCustomerAmount">
		<![CDATA[
			select * from df_customer_amount where customer_id = #{customer_id} and store_id = #{store_id} and yearandmonth = #{yearandmonth};
		]]>
	</select>
	
	<update id="updateCustomerAmount" parameterType="DfCustomerAmount">
		<![CDATA[
			update df_customer_amount set order_id = #{order_id}, total_price = #{total_price} where id = #{id};
		]]>
	</update>

</mapper>