<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.master.DfUserMemberMapper">

	<insert id="addDfUserMember" parameterType="java.util.Map" >
		<![CDATA[
			insert into df_user_member (
				customer_id,mobilephone,idcard,birthplace,born_province,born_city,birthday,sex,regist_storeid,
				regist_cityno,regist_time,opencard_time,isnew_member,member_type,associator_level,associator_expiry_date,
				inviteCode
			) values (
				#{customer_id},#{mobilephone},#{idcard},#{birthplace},#{born_province},#{born_city},#{birthday},#{sex},#{regist_storeid},
				#{regist_cityno},#{regist_time},#{opencard_time},#{isnew_member},#{member_type},#{associator_level},#{associator_expiry_date},
				#{inviteCode}
			)
			on duplicate key update
			opencard_time = values(opencard_time),
			associator_expiry_date = values(associator_expiry_date),
			member_type = values(member_type),
			update_time = now()
        ]]>
	</insert>
	
	<insert id="addDfTryUserMember" parameterType="java.util.Map" >
		<![CDATA[
			insert into df_user_try_member (
				customer_id,mobilephone,idcard,birthplace,born_province,born_city,birthday,sex,regist_storeid,
				regist_cityno,regist_time,opencard_time,isnew_member,member_type,associator_level,associator_expiry_date,
				inviteCode
			) values (
				#{customer_id},#{mobilephone},#{idcard},#{birthplace},#{born_province},#{born_city},#{birthday},#{sex},#{regist_storeid},
				#{regist_cityno},#{regist_time},#{opencard_time},#{isnew_member},#{member_type},#{associator_level},#{associator_expiry_date},
				#{inviteCode}
			)
			on duplicate key update
			opencard_time = values(opencard_time),
			associator_expiry_date = values(associator_expiry_date),
			member_type = values(member_type),
			update_time = now()
        ]]>
	</insert>	
	
	<select id="queryDfUserMembers" resultType="java.util.Map" parameterType="java.util.Map">
		<![CDATA[
			select customer_id,mobilephone from df_user_member 
		]]>
	</select>
	
	<update id="updateInviteCodeByCusId" parameterType="java.util.Map">
		<![CDATA[
			update df_user_member set inviteCode = #{inviteCode} where customer_id = #{customer_id}
		]]>
	</update>
	
	<insert id="addDsOpeMemberCancelCityDay" parameterType="java.util.Map" >
		<![CDATA[
			insert into ds_ope_member_cancel_city_day(
				canceldate, city_code, city_name, cancelcount
			) 
			values(
				#{canceldate},#{city_code},#{city_name},#{cancelcount}
			)
			on duplicate key update   
			cancelcount = values(cancelcount),
			update_time = now()
        ]]>
	</insert>
	

</mapper>