<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.master.DsCronTaskMapper">


	<select id="queryDsCronTask" parameterType="java.util.Map"
		resultType="java.util.Map">
        <![CDATA[
			select taskname,begintime,endtime,runtype,isrun
			from ds_crontask
		]]>
	</select>

	<select id="queryDsCronTaskById" resultType="java.util.Map">
		<![CDATA[
			select
			taskname, begintime, endtime, flag_begintime, runtype, isrun, task_status, this_channel_scale, first_channel_scale
			from ds_crontask where id = #{id}
		]]>
	</select>
	
	<update id="updateTaskStatusById" parameterType="java.util.Map">
		<![CDATA[
			update ds_crontask set task_status =#{task_status} where id =#{id} 
		]]>
	</update>
	
	<!-- 更新开始时间 -->
	<update id="updateNextBeginTimeById" parameterType="java.lang.String">
		<![CDATA[
			update ds_crontask set begintime = #{begintime} where id = #{id};
		]]>
	</update>
	
	<!-- 更新标识开始时间 -->
	<update id="updateFlagBeginTimeById" parameterType="java.lang.String">
		<![CDATA[
			update ds_crontask set flag_begintime = #{flag_begintime} where id = #{id};
		]]>
	</update>
	
</mapper>