<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.master.EmployeeKeeperInfoMapper">

	<!-- 获取员工和店长员工号手机号信息 -->
    <select id="queryPhones" resultType="java.util.Map">
        <![CDATA[
        	select employee_no,phone from (
				select employee_no,phone from t_storekeeper
				union  
				select employee_no,phone from t_humanresources
			) phoneline
			where phone is not null
		]]>
    </select>
</mapper>