<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.master.HumanresourceMapper">

	<!-- 获取系统实时人员数据 -->
    <select id="queryHumanresources" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
		select humanstatus,cityname,storeno,storename,storeid,employeeno,username,zw,
			authorizedtype,professnallevel,remark,leavedate from ( 
				SELECT
				humanstatus as humanstatus,
				hr.citySelect as cityname,
				store.name as storename,
				store.storeno as storeno,
			    hr.store_id as storeid,
				hr.employee_no as employeeno,
			    hr.name as username,
			    hr.zw as zw,
			    hr.authorizedtype as authorizedtype,
			    hr.professnallevel as professnallevel,
			    IFNULL(hr.remark,'') as remark,
			    IFNULL(hr.leavedate,'') as leavedate,
			    date_format(hr.update_time,'%Y-%m-%d') as update_time
			FROM
				t_humanresources hr
			LEFT JOIN t_store store ON hr.store_id = store.store_id ) hrstore
		]]>
        <where>
            <if test="null != username and '' != username">
                <![CDATA[                   
                   username like concat('%',#{username},'%')
                ]]>
            </if>
            <if test="null != employeeno and '' != employeeno">
                <![CDATA[
                   and employeeno = #{employeeno}
               ]]>
            </if>
            <if test="null != update_time_start and null != update_time_end">
                <![CDATA[                   
                   and DATE_FORMAT(update_time,'%Y-%m-%d') between #{update_time_start} and #{update_time_end}
                ]]>
            </if>
            <if test="null != storename and  '' != storename">
                <![CDATA[                   
                   and storename =#{storename}
                ]]>
            </if>
            <if test="null != storeid and  '' != storeid">
                <![CDATA[                   
                   and storeid =#{storeid}
                ]]>
            </if>
            <if test="null != zw and '' != zw">
                <![CDATA[                   
                   and zw =#{zw}
                ]]>
            </if>
        </where>
        <![CDATA[
          order by hrstore.update_time desc
        ]]>
    </select>

	<!-- 获取截止当前日期发生异动人员之前的所在门店职位信息-->
	  <select id="queryPreHumanresources" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
		SELECT humanchangeb.humanstatus,humanchangeb.cityname,humanchangeb.storename,t_store.storeno,humanchangeb.storeid,
					humanchangeb.employeeno,humanchangeb.username,humanchangeb.zw,humanchangeb.authorizedtype,
					humanchangeb.professnallevel,humanchangeb.remark,humanchangeb.leavedate
			FROM (
			SELECT 
			t_humanresources.humanstatus as humanstatus,
			t_humanresources.citySelect as cityname,
			t_humanresources.employee_no as employeeno,
			t_humanresources.name as username,
			t_humanresources.authorizedtype as authorizedtype,
			t_humanresources.professnallevel as professnallevel,
			IFNULL(t_humanresources.remark,'') as remark,
			IFNULL(t_humanresources.leavedate,'') as leavedate,
			IFNULL(IF(ISNULL(humanchangea.prestorename),t_humanresources.storename,humanchangea.prestorename),'') as storename,
			IFNULL(IF(ISNULL(humanchangea.prestore_id),t_humanresources.store_id,humanchangea.prestore_id),NULL) as storeid,
			IFNULL(IF(ISNULL(humanchangea.prezw),t_humanresources.zw,humanchangea.prezw),'') as zw,
			DATE_FORMAT(t_humanresources.update_time,'%Y-%m-%d') as update_time
			FROM t_humanresources
			LEFT JOIN (
			SELECT t_humanresources_change.employee_no,store_id as prestore_id, storename as prestorename,zw as prezw 
			FROM t_humanresources_change ,(
			SELECT
				min(id) as id,
			  employee_no
			FROM
				t_humanresources_change
			WHERE
				DATE_FORMAT(changedate, '%Y-%m') = DATE_FORMAT(now(),'%Y-%m')  
			GROUP BY employee_no ) humanchange
			WHERE humanchange.id = t_humanresources_change.id) humanchangea 
			ON t_humanresources.employee_no = humanchangea.employee_no
			WHERE DATE_FORMAT(create_time, '%Y-%m') !=DATE_FORMAT(now(),'%Y-%m') ) humanchangeb ,t_store
      		WHERE humanchangeb.storeid = t_store.store_id

		]]>
            <if test="null != username and '' != username">
                <![CDATA[                   
                   and username like concat('%',#{username},'%')
                ]]>
            </if>
            <if test="null != employeeno and '' != employeeno">
                <![CDATA[
                   and employeeno = #{employeeno}
               ]]>
            </if>
            <if test="null != update_time_start and null != update_time_end">
                <![CDATA[                   
                   and DATE_FORMAT(update_time,'%Y-%m-%d') between #{update_time_start} and #{update_time_end}
                ]]>
            </if>
            <if test="null != storename and  '' != storename">
                <![CDATA[                   
                   and storename =#{storename}
                ]]>
            </if>
            <if test="null != storeid and  '' != storeid">
                <![CDATA[                   
                   and storeid =#{storeid}
                ]]>
            </if>
            <if test="null != zw and '' != zw">
                <![CDATA[                   
                   and zw =#{zw}
                ]]>
            </if>
            <if test="null != humanstatus and '' != humanstatus">
                <![CDATA[                   
                   and humanstatus =#{humanstatus}
                ]]>
            </if>
        <![CDATA[
          order by humanchangeb.update_time desc
        ]]>
    </select>
    
    <select id="queryStoreEmpCount" parameterType="java.lang.String" resultType="java.lang.Integer">
    	<![CDATA[
    		select count(1) empcount from t_humanresources thuman,t_store ts 
			where thuman.store_id = ts.store_id 
			and thuman.humanstatus =1 
			and thuman.zw ='国安侠'
			and ts.storeno =#{storeno}
		]]>
    </select>
    
    
    <select id="queryHumanresourcesList" parameterType="java.util.Map" resultType="java.util.Map">
    	<![CDATA[
    	    SELECT (select code from tb_bizbase_user where employeeId=t.employee_no limit 1) as Username,t.name as Full_name,t.employee_no as Emplid,(select storeno from t_store where t_store.store_id=t.store_id) as Groupcode,t.humanstatus as Hr_status,t.zw as Post,DATE_FORMAT(t.update_time,'%Y-%m-%d %H:%i:%S') as update_time FROM t_humanresources t WHERE t.humanstatus in(1,2) and t.update_time >= #{datetime}  
		]]>
    </select>
    
    <select id="queryAllHumanresourcesList" resultType="java.util.Map">
    	<![CDATA[
    		SELECT (select code from tb_bizbase_user where employeeId=t.employee_no limit 1) as code,t.name,t.employee_no,(select storeno from t_store where t_store.store_id=t.store_id) as storeno,t.humanstatus FROM t_humanresources t WHERE t.humanstatus in(1,2) 
		]]>
    </select>
    
    <select id="queryPostList" resultType="java.util.Map">
    	<![CDATA[
    		SELECT zw as full_name,zw as short_name,code FROM t_data_human_zw 
		]]>
    </select>
    
    <select id="queryStoreList" resultType="java.util.Map">
    	<![CDATA[
    		SELECT s.name as Name,s.name as Shortname,s.storeno as Code,s.storeno as Deptid,s.estate as status FROM t_store s where s.name not like '%测试%' 
		]]>
    </select>
    
    <select id="queryIdCardOfonlineByPhone" resultType="java.lang.String" parameterType="java.lang.String">
    	<![CDATA[
    		select cardid from t_sync_record where phone =#{mobilephone} limit 1
		]]>
    </select>
    
</mapper>