<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.master.RelationMapper">


	<select id="queryRelations" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
			SELECT  t.store_id,t.employee_no, SUM(t.curr_month_amount) AS num  
			FROM (SELECT 	empamou.store_id,  empamou.employee_no, empamou.employee_name, empamou.data_amount AS curr_month_amount 
			      FROM (  SELECT u.store_id, r.employee_name, r.employee_no, DATE_FORMAT(r.relation_date,'%Y-%m') AS mounth,
			              COUNT(distinct c.id) AS data_amount 
			            FROM t_relation r     
			            LEFT JOIN tb_bizbase_user u  ON u.employeeId = r.employee_no 
			            LEFT JOIN t_customer c  ON c.id=r.customer_id 
			            WHERE r.status = 0 AND DATE_FORMAT(r.relation_date,'%Y-%m') = #{yearmonth}
			            GROUP BY r.employee_no) empamou ) t 
			GROUP BY  t.employee_no HAVING t.store_id is not NULL 
			ORDER BY t.store_id,t.employee_no
		]]>
	</select>
	
	<select id="queryRelationsByStore" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
				SELECT t_store.store_id ,t_store.name as storename ,sum(num) as num FROM (
				SELECT  t.store_id,t.employee_no, SUM(t.curr_month_amount) AS num  
				FROM (SELECT 	empamou.store_id,  empamou.employee_no, empamou.employee_name, empamou.data_amount AS curr_month_amount 
				      FROM (  SELECT u.store_id, r.employee_name, r.employee_no, DATE_FORMAT(r.relation_date,'%Y-%m') AS mounth,
				              COUNT(distinct c.id) AS data_amount 
				            FROM t_relation r     
				            LEFT JOIN tb_bizbase_user u  ON u.employeeId = r.employee_no 
				            LEFT JOIN t_customer c  ON c.id=r.customer_id 
				            WHERE r.status = 0 AND DATE_FORMAT(r.relation_date,'%Y-%m') = #{yearmonth}
				            GROUP BY r.employee_no) empamou ) t 
				GROUP BY  t.employee_no HAVING t.store_id is not NULL 
				ORDER BY t.store_id,t.employee_no) aa ,t_store
				WHERE aa.store_id = t_store.store_id
				AND t_store.name=#{storename}
				GROUP by store_id
		]]>
	</select>
</mapper>