<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.master.SMSResultRecordMapper">

    <insert id="addSMSResultRecord" parameterType="SMSResultRecordEntity"  >
        <![CDATA[
		  insert  into  t_sms_result_record(app_key,channelid,mobilephone,serial_no,sms_type,group_code,send_result_flag,send_result_desc,sendtime) values (#{appKey},#{channelId},#{mobilePhone},#{serialNo},#{smsType},#{groupCode},#{sendResultFlag},#{sendResultDesc},#{sendTime});
		]]>
    </insert>

    <select id="querySMSResultRecord" parameterType="SMSResultRecordEntity"  resultType="java.util.Map">
        <![CDATA[
		  select mobilephone as mobilePhone,serial_no as serialNo,case when send_result_flag='00' then '发送成功' else '发送失败' end as sendResult,concat(sendtime,'') as sendTime   from  t_sms_result_record where  serial_no=#{serialNo}

		]]>

        <if test="null != beginDate">
            <![CDATA[
                 and sendtime >=#{beiginData}
              ]]>
        </if>
        <if test="null != endDate">
            <![CDATA[
                 and sendtime <=#{endDate}
              ]]>
        </if>
    </select>

</mapper>