<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.master.SMSSendRecordMapper">

    <insert id="addSMSSendRecord" parameterType="SMSSendRecordEntity"  >
        <![CDATA[
		  insert  into  t_sms_send_record(app_key,channelid,serial_no,sms_type,content,group_code,createtime) values (#{appKey},#{channelId},#{serialNo},#{smsType},#{content},#{groupCode},#{createTime});
		]]>
    </insert>

</mapper>