<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.master.StoreMapper">
    <resultMap type="StoreEntity" id="storeResultMap">
        <id property="store_id" column="STORE_ID"/>
        <result property="name" column="NAME"/>
        <result property="open_shop_time" column="OPEN_SHOP_TIME"/>
        <result property="ordnumber" column="ORDNUMBER"/>
        <result property="estate" column="ESTATE"/>
        <result property="city_name" column="CITY_NAME"/>
    </resultMap>

    <select id="findStoreToCityNameAndOpenShopTime" parameterType="String" resultMap="storeResultMap">
        SELECT *  FROM t_store WHERE open_shop_time is not NULL AND city_name=#{city_name}  ORDER BY open_shop_time
    </select>
    <select id="findStoreToCityNameAndOpenShopTimeIsNull" parameterType="String" resultMap="storeResultMap">
        SELECT * FROM t_store WHERE open_shop_time is NULL and storeno is not null AND city_name=#{city_name}  ORDER BY create_time,update_time
    </select>


    <select id="queryStores" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
			select 	store.store_id , 
			store.storeno,
			store.storetype,
			store.name , 
			store.city_name,	
			IFNULL(store.platformid,'') as platformid,	
			IFNULL(store.number,'') as number,
			IFNULL(str_to_date(store.open_shop_time,'%Y-%m-%d'),'') as opentime,
			IFNULL(county.name,'') AS county_name
			from t_store store 
			left join t_town town ON store.town_id = town.id
			left join t_county county ON town.county_id = county.id
			where store.name not like '%测试%' and storetype <> 'W'
		]]>
         <if test="null != update_time_start and null != update_time_end">
             <![CDATA[                   
                and DATE_FORMAT(store.update_time,'%Y-%m-%d') between #{update_time_start} and #{update_time_end}
             ]]>
         </if>
         <if test="null != storename">
             <![CDATA[                   
                and store.name = #{storename}
             ]]>
         </if>
         <if test="null != storeid">
             <![CDATA[                   
                and store.store_id = #{storeid}
             ]]>
         </if>
         <if test="null != cityname">
             <![CDATA[                   
                and store.city_name = #{cityname}
             ]]>
         </if>
        <![CDATA[
          order by store.update_time desc
        ]]>
    </select>
    
    <select id="queryStoreNumbers"  resultType="java.lang.String">
        <![CDATA[
			select GROUP_CONCAT(number) from t_store 
		]]>
    </select>

    <update id="updateStore" parameterType="StoreEntity">
        update t_store
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="estate != null" >
                estate = #{estate,jdbcType=VARCHAR},
            </if>
            <if test="open_shop_time != null" >
                open_shop_time = #{open_shop_time,jdbcType=TIMESTAMP},
            </if>
            <if test="ordnumber != null" >
                ordnumber = #{ordnumber,jdbcType=INTEGER},
            </if>
            <if test="city_name != null" >
                city_name = #{city_name,jdbcType=VARCHAR},
            </if>
        </set>
        where store_id = #{store_id,jdbcType=BIGINT}
    </update>

    <select id="findStoreDateEstate" resultMap="storeResultMap">
        SELECT * FROM t_store WHERE (estate not in ('闭店中','闭店','试运营','运营中','试营业') or estate is NULL) and open_shop_time is not NULL AND DATE_FORMAT(open_shop_time,'%Y-%m-%d')<![CDATA[<= ]]> DATE_FORMAT(NOW(),'%Y-%m-%d');
    </select>

    <select id="findStoreBycode" parameterType="String" resultMap="storeResultMap">
        SELECT * FROM  t_store WHERE storeno=#{storeno}
    </select>





</mapper>