<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.master.TAreaNewaddCusStoreMapper">

	
	<!-- 片区拉新按门店 -->
	<select id="queryTAreaNewaddCusStore" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
			select city_name, storeno,store_name,new_10_count,pubseas 
			from ds_areanewaddcus_store
			where year =#{year} and month =#{month}
		]]>
		<if test="null != storeids and null != storeids">
			<![CDATA[                   
			  and storeno IN (${storeids})
			]]>
		</if>
		<if test="null != areano and '' != areano">
           <![CDATA[                   
              and area_no in (${areano})
           ]]>
		</if>		
	</select>
	
	
	<insert id="addTAreaNewaddCusStore" parameterType="java.util.Map">
		<![CDATA[
			INSERT INTO ds_areanewaddcus_store (
				city_name, storeno,store_name,new_10_count, year, month,createtime
			) VALUES(
				#{city_name},#{storeno},#{store_name},#{new_10_count},#{year},#{month},
				#{createtime}
			)
		]]>
	</insert>
	
	<delete id="deleteByYearMonth" parameterType="java.util.Map">
		<![CDATA[
			delete from ds_areanewaddcus_store where year =#{year} and month =#{month}
		]]>
	</delete>
	
	<update id="updatePubSeasByYearMonth" parameterType="java.util.Map">
		<![CDATA[
			update ds_newaddcus aa
			left join ds_areanewaddcus_store bb on (aa.storeno = bb.storeno and aa.`year` = bb.`year` and aa.`month` = bb.`month`)
			left join ds_areapubseas_newaddcus_store cc on (aa.storeno = cc.storeno and aa.`year` = cc.`year` and aa.`month` = cc.`month`)
			set bb.pubseas = aa.new_10_count - ifnull(bb.new_10_count,0) - ifnull(cc.new_10_count,0) 
			where aa.`year` =#{year}
			and aa.`month`=#{month}
		]]>	
	</update>
				
</mapper>