<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.master.TAreaNewaddCusMapper">

	<!-- 片区拉新 -->
	<select id="queryTAreaNewaddCus" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
			select city_name, storeno,store_name, area_no, area_name,
				   employee_a_no, employee_a_name, new_10_count ,pubseas 
			from ds_areanewaddcus
			where year =#{year} and month =#{month}
		]]>
		<if test="null != storeids and null != storeids">
			<![CDATA[                   
			   and storeno IN (${storeids})
			]]>
		</if>
		<if test="null != areano and '' != areano">
           <![CDATA[                   
              and area_no in (${areano})
           ]]>
		</if>		
	</select>
	
	<!-- 片区拉新按人员统计，为动态系统显示提供数据 -->
	<select id="queryTAreaNewaddCusGroupByEmp" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
		select city_name,storeno,store_name,area_no,area_name,employee_a_no,employee_a_name,
			   new_10_count,pubseas,totalsum
		from (
					select aa.city_name, aa.storeno,aa.store_name, aa.area_no, aa.area_name,
						   aa.employee_a_no, aa.employee_a_name,sum(aa.new_10_count) new_10_count ,
						   aa.pubseas,  (sum(aa.new_10_count) + aa.pubseas ) as totalsum
					from ds_areanewaddcus aa
					where aa.year =#{year} and aa.month =#{month}
					group by aa.employee_a_no 
		) tmpdan
		]]>
		<where>
			<if test="null != storeids and null != storeids">
				<![CDATA[                   
				   storeno IN (${storeids})
				]]>
			</if>
			<if test="null != areano and '' != areano">
	           <![CDATA[                
	              and area_no in (${areano})
	           ]]>
			</if>
	    </where>
	</select>	
	
	
	<!-- 
		国安侠片区交易额统计上月本月数据,为app提供数据
	-->
	<select id="queryTAreaNewaddcusGroupByEmpOnMonth" parameterType="java.util.Map" resultType="String">
        <![CDATA[
			select (sum(aa.new_10_count) + aa.pubseas ) as totalsum
			from ds_areanewaddcus aa
			where aa.year =#{year} and aa.month =#{month} and aa.employee_a_no =#{employee_no}
			group by aa.employee_a_no
		]]>
	</select>
	
	
	<insert id="addTAreaNewaddCus" parameterType="java.util.Map">
		<![CDATA[
			INSERT INTO ds_areanewaddcus (
				city_name, storeno,store_name, area_no, area_name,
				employee_a_no, employee_a_name, new_10_count,year,month,createtime
			) VALUES(
				#{city_name},#{storeno},#{store_name},#{area_no},#{area_name},
				#{employee_a_no},#{employee_a_name},#{new_10_count},#{year},#{month},#{createtime}
			)
		]]>
	</insert>

	<delete id="deleteByYearMonth" parameterType="java.util.Map">
		<![CDATA[
			delete from ds_areanewaddcus where year =#{year} and month =#{month}
		]]>
	</delete>
	
	<update id="updatePubSeasByYearMonth" parameterType="java.util.Map">
		<![CDATA[
			update ds_areanewaddcus set pubseas = #{pubseas}
			where year =#{year} and month =#{month} and storeno = #{storeno}
		]]>	
	</update>
	
	<insert id="addTAreaNewaddCusByStore" parameterType="java.util.Map">
		<![CDATA[
			insert into ds_areanewaddcus_store (
				city_name, storeno,store_name,new_10_count, year, month,createtime
			)
			select 
				city_name, 
				storeno,
				store_name,
				sum(new_10_count) new_10_count,
				YEAR(date_sub(now(),interval 1 day)) as year ,
				MONTH(date_sub(now(),interval 1 day)) as month ,
				NOW() as createtime 
			from ds_areanewaddcus
			where year =#{year} and month =#{month}
			group by storeno
		]]>
	</insert>
	
</mapper>