<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.master.TAreaPubseasNewaddCusMapper">

	<!-- 片区拉新 -->
	<select id="queryTAreaPubseasNewaddCus" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
			select storeno,store_name,employee_no, employee_name, new_10_count 
			from ds_areapubseas_newaddcus
			where year =#{year} and month =#{month}
		]]>
		<if test="null != storeids and null != storeids">
			<![CDATA[                   
			   and storeno IN (${storeids})
			]]>
		</if>
	</select>
	
	<insert id="addTAreaPubseasNewaddCus" parameterType="java.util.Map">
		<![CDATA[
			INSERT INTO ds_areapubseas_newaddcus (
				storeno,store_name, employee_no, employee_name, new_10_count,
				year,month,createtime
			) VALUES(
				#{storeno},#{store_name}, #{employee_no},#{employee_name},#{new_10_count},
				#{year},#{month},#{createtime}
			)
		]]>
	</insert>

	<delete id="deleteByYearMonth" parameterType="java.util.Map">
		<![CDATA[
			delete from ds_areapubseas_newaddcus where year =#{year} and month =#{month}
		]]>
	</delete>
	
	<insert id="addTAreaPubseasNewaddCusByStore" parameterType="java.util.Map">
		<![CDATA[
			insert into ds_areapubseas_newaddcus_store (
				storeno,store_name,new_10_count, year, month,createtime
			)
			select 
				storeno,
				store_name,
				sum(new_10_count) new_10_count,
				YEAR(date_sub(now(),interval 1 day)) as year ,
				MONTH(date_sub(now(),interval 1 day)) as month ,
				NOW() as createtime 
			from ds_areapubseas_newaddcus
			where year =#{year} and month =#{month}
			group by storeno
		]]>
	</insert>
	
	
</mapper>