<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.master.TAreaTradeMapper">

	<!-- 片区GMV -->
	<select id="queryTAreaTrades" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
			select city_name, storeno,store_name, area_no, area_name,employee_a_no,
				employee_a_name, pesgmv, other_order_amount,other_order_count,other_returned_amount,
				other_returned_count,pubseas 
			from ds_areatrade
			where year =#{year} and month =#{month}
		]]>
		<if test="null != storeids and null != storeids">
			<![CDATA[                   
			  and storeno IN (${storeids})
			]]>
		</if>
		<if test="null != areano and '' != areano">
           <![CDATA[                   
              and area_no in (${areano})
           ]]>
		</if>
	</select>
	
	
	<!-- 片区GMV -->
	<select id="queryTAreaTradesGroupByEmp" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
			select city_name, storeno,store_name, area_no, area_name,employee_a_no,
				employee_a_name, sum(pesgmv) pesgmv,pubseas,(sum(pesgmv) +pubseas) as totalsum
			from ds_areatrade
			where year =#{year} and month =#{month}
		]]>
		<if test="null != storeids and null != storeids">
			<![CDATA[                   
			  and storeno IN (${storeids})
			]]>
		</if>
		<if test="null != areano and '' != areano">
           <![CDATA[                   
              and area_no in (${areano})
           ]]>
		</if>
		group by employee_a_no
	</select>	
	
	<insert id="addTAreaTrades" parameterType="java.util.Map">
		<![CDATA[
			INSERT INTO ds_areatrade (
				city_name, storeno,store_name, area_no, area_name,employee_a_no,
				employee_a_name, pesgmv, other_order_amount,other_order_count,other_returned_amount,
				other_returned_count,year,month,createtime
			) VALUES(
				#{city_name},#{storeno},#{store_name},#{area_no},#{area_name},#{employee_a_no},
				#{employee_a_name},#{pesgmv},#{other_order_amount},#{other_order_count},#{other_returned_amount},
				#{other_returned_count},#{year},#{month},#{createtime}
			)
		]]>
	</insert>	
	
	<delete id="deleteByYearMonth" parameterType="java.util.Map">
		<![CDATA[
			delete from ds_areatrade where year =#{year} and month =#{month}
		]]>
	</delete>
	
	<update id="updatePubSeasByYearMonth" parameterType="java.util.Map">
		<![CDATA[
			update ds_areatrade set pubseas = #{pubseas}
			where year =#{year} and month =#{month} and storeno = #{storeno}
		]]>	
	</update>
	
	
	<insert id="addTAreaTradeByStore" parameterType="java.util.Map">
		<![CDATA[
			insert into ds_areatrade_store (
				city_name,storeno,store_name,pesgmv,other_order_amount,other_order_count,
				other_returned_amount,other_returned_count,year,month,createtime
			)
			select 
				city_name,
				storeno,
				store_name,
				(sum(other_order_amount) - sum(other_returned_amount)) as pesgmv,
				sum(other_order_amount) other_order_amount,
				sum(other_order_count) other_order_count,
				sum(other_returned_amount) other_returned_amount,
				sum(other_returned_count) other_returned_count,
				YEAR(date_sub(now(),interval 1 day)) as year ,
				MONTH(date_sub(now(),interval 1 day)) as month ,
				NOW() as createtime
			from ds_areatrade
			where year =#{year} and month =#{month} 
			group by storeno
		]]>
	</insert>	
			
</mapper>