<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.master.TAreaZdGmvStoreMapper">

  	<!-- 片区重点产品GMV按门店 -->
	<select id="queryTAreaZdGmvStore" parameterType="java.util.Map" resultType="java.util.Map">
		<![CDATA[
			select city_name, storeno,store_name,pesgmv, jwsa_other_order_amount, jwsb_other_returned_amount,
				yanglaoa_other_order_amount, yanglaob_other_returned_amount,
				weichaoa_other_order_amount,weichaob_other_returned_amount,pubseas 
			from ds_areazdgmv_store
			where year =#{year} and month =#{month}
		]]>
		<if test="null != storeids and null != storeids">
			<![CDATA[                   
			  and storeno IN (${storeids})
			]]>
		</if>
		<if test="null != areano and '' != areano">
           <![CDATA[                   
              and area_no in (${areano})
           ]]>
		</if>
  	</select>
  	
  	
	<insert id="addTAreaZdGmvStore" parameterType="java.util.Map">
		<![CDATA[
			INSERT INTO ds_areazdgmv_store (
				city_name, storeno,store_name,pesgmv, jwsa_other_order_amount, jwsb_other_returned_amount,
				yanglaoa_other_order_amount, yanglaob_other_returned_amount,
				weichaoa_other_order_amount,weichaob_other_returned_amount,year,month,createtime
			) VALUES(
				#{city_name},#{storeno},#{store_name},#{pesgmv},#{jwsa_other_order_amount},#{jwsb_other_returned_amount},
				#{yanglaoa_other_order_amount},#{yanglaob_other_returned_amount},
				#{weichaoa_other_order_amount},#{weichaob_other_returned_amount},#{year},#{month},#{createtime}
			)
		]]>
	</insert>
	
	<delete id="deleteByYearMonth" parameterType="java.util.Map">
		<![CDATA[
			delete from ds_areazdgmv_store where year =#{year} and month =#{month}
		]]>
	</delete>

	<update id="updatePubSeasByYearMonth" parameterType="java.util.Map">
		<![CDATA[
			update ds_gmvpercent aa 
			left join ds_areazdgmv_store bb on (aa.storeno = bb.storeno and aa.`year` = bb.`year` and aa.`month` = bb.`month`)
			left join ds_areapubseas_zdgmv_store cc on (aa.storeno = cc.storeno and aa.`year` = cc.`year` and aa.`month` = cc.`month`) 
			set bb.pubseas = aa.pesgmv - ifnull(bb.pesgmv,0) - ifnull(cc.pesgmv,0)
			where aa.`year` = #{year}
			and aa.`month` = #{month}
		]]>	
	</update>	
	
</mapper>