<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.master.TGmvPercentMapper">


	<select id="queryTGmvPercent" parameterType="java.util.Map"
		resultType="java.util.Map">
        <![CDATA[
			select 
				city_name,
				IFNULL(storeno,'') as storeno,
				IFNULL(store_name,'') as store_name,
				IFNULL(totalamount,0) as totalamount,
				IFNULL(jwsamount,0) as jwsamount,
				IFNULL(yanglaoamount,0) as yanglaoamount,
				IFNULL(weichaoamount,0) as weichaoamount,
				specvalue
			from ds_gmvpercent where year =#{year} and month =#{month}
		]]>
		 <if test="null != platformid and '' != platformid">
              <![CDATA[                   
                  and platformid =#{platformid}
              ]]>
         </if>
		   <if test="null != storeids and null != storeids">
               <![CDATA[                   
                  and storeno IN (${storeids})
               ]]>
           </if>
	</select>
	
	<insert id="addTGmvPercent" parameterType="java.util.Map">
		<![CDATA[
			insert into ds_gmvpercent(
				city_name,storeno,store_name,totalamount,jwsamount,yanglaoamount,weichaoamount,specvalue,
				year,month,createtime) 
			values(
				#{city_name},#{storeno},#{store_name},#{totalamount},#{jwsamount},
				#{yanglaoamount},#{weichaoamount},#{specvalue},
				YEAR(date_sub(now(),interval 1 day)),MONTH(date_sub(now(),interval 1 day)),NOW()
			)
		]]>
	</insert>
	
	<delete id="deleteByYearMonth" parameterType="java.util.Map">
		<![CDATA[
			delete from ds_gmvpercent where year =#{year} and month =#{month}
		]]>
	</delete>
</mapper>