<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.master.TProductCityMapper">

	<select id="queryTProductCity" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
			select province_name,city_name, product_name,product_count
			from ds_product_city
		]]>
	</select>
	

	<insert id="addTProductCity" parameterType="java.util.Map">
		<![CDATA[
			INSERT INTO ds_product_city (
				province_name,cityno,city_name, product_id,product_name,product_count,create_time
			) VALUES(
				#{province_name},#{cityno},#{city_name},#{product_id},#{product_name},#{product_count},now()
			)
		]]>
	</insert>	
	
	<delete id="deleteByYearMonth">
		<![CDATA[
			delete from ds_product_city
		]]>
	</delete>
	
	<insert id="addTProductCityDay" parameterType="java.util.Map">
		<![CDATA[
			INSERT INTO ds_ope_product_city_day (
				cityno,city_name,product_id,product_name,product_count,recdate
			) VALUES(
				#{cityno},#{city_name},#{product_id},#{product_name},#{product_count},date(now())
			) on duplicate key update   
			product_count = product_count + values(product_count),
			updatetime = now()
		]]>
	</insert>
	
	<delete id="deleteTProductCityDay">
		<![CDATA[
			truncate table ds_ope_product_city_day
		]]>
	</delete>
	

</mapper>