<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.master.TProductCityMapper">

	<select id="queryTProductCity" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
			select province_name,city_name, product_name,product_count
			from ds_product_city
		]]>
	</select>
	

	<insert id="addTProductCity" parameterType="java.util.Map">
		<![CDATA[
			INSERT INTO ds_product_city (
				province_name,cityno,city_name, product_id,product_name,product_count,create_time
			) VALUES(
				#{province_name},#{cityno},#{city_name},#{product_id},#{product_name},#{product_count},now()
			)
		]]>
	</insert>	
	
	<delete id="deleteByYearMonth">
		<![CDATA[
			delete from ds_product_city
		]]>
	</delete>
	
	<insert id="addTProductCityDay" parameterType="java.util.Map">
		<![CDATA[
			INSERT INTO ds_ope_product_city_day (
				cityno,city_name,product_id,product_name,product_count,recdate
			) VALUES(
				#{cityno},#{city_name},#{product_id},#{product_name},#{product_count},date(now())
			) on duplicate key update   
			product_count = product_count + values(product_count),
			updatetime = now()
		]]>
	</insert>
	
	<delete id="deleteTProductCityDay">
		<![CDATA[
			truncate table ds_ope_product_city_day
		]]>
	</delete>
	
	<select id="queryTProductIsExist" parameterType="java.util.Map" resultType="java.util.Map">
		select * from ds_ope_product_store_day dod where dod.recdate=#{recdate} and dod.product_id=#{product_id} and dod.store_id=#{store_id}
	</select>

	<insert id="addTProductSales" parameterType="java.util.Map">
		<![CDATA[
			INSERT ds_ope_product_store_day (
				product_id,
				product_name,
				product_type,
				recdate,
				store_id,
				store_name,
				eshop_id,
				store_no,
				city_no,
				product_count,
				product_quantity
			) VALUES(#{product_id},#{product_name},#{product_type},#{recdate},#{store_id},#{store_name},
			#{eshop_id},#{store_code},#{city_code},#{pcount},#{pquantity})
		]]>
	</insert>
	
	<update id="updateTProductSalesCount" parameterType="java.util.Map">
		<![CDATA[
			UPDATE ds_ope_product_store_day dod
			SET dod.product_count = product_count + #{pcount},
			 	dod.product_quantity = product_quantity + #{pquantity}
			WHERE
				dod.recdate = #{recdate}
			AND dod.product_id = #{product_id}
			AND dod.store_id = #{store_id}
		]]>
	</update>
	
	<update id="updateTProductSalesNames" parameterType="java.util.Map">
		<![CDATA[
			UPDATE ds_ope_product_store_day dod
			SET dod.city_name = #{city_name},
			 	dod.eshop_name = #{eshop_name},
			 	dod.channel_id = #{channel_id},
			 	dod.department_id = #{department_id},
			 	dod.channel_name = #{channel_name},
			 	dod.department_name = #{dept_name}
			WHERE
				dod.recdate = #{recdate}
			AND dod.product_id = #{product_id}
			AND dod.store_id = #{store_id}
		]]>
	</update>
	
</mapper>