<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.master.TRewardTimesMapper">


	<select id="queryTRewardTimes" parameterType="java.util.Map"
		resultType="java.util.Map">
        <![CDATA[
			select 
 				cityname, platformid,IFNULL(storeno,'') AS storeno,storename, employeename, cusid,ordersn, dashang
 			from ds_rewardtimes where year=#{year} and month=#{month}
		]]>
		   <if test="null != storeids and null != storeids">
               <![CDATA[                   
                  and storeno IN (${storeids})
               ]]>
           </if>
	</select>
	
	<insert id="addTRewardTimes" parameterType="java.util.Map">
		<![CDATA[
			INSERT INTO ds_rewardtimes (
				cityname, platformid,storeno,storename, employeename, cusid,ordersn, dashang, 
				year, month, createtime
			) VALUES(
				#{cityname},#{platformid},#{storeno},#{storename},#{employeename},#{cusid},#{ordersn},#{dashang},
				YEAR(date_sub(now(),interval 1 day)),MONTH(date_sub(now(),interval 1 day)),NOW()
			)
		]]>
	</insert>
	
	<delete id="deleteByYearMonth" parameterType="java.util.Map">
		<![CDATA[
			delete from ds_rewardtimes where year =#{year} and month =#{month}
		]]>
	</delete>
</mapper>