<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.master.TSendOrderMapper">


	<select id="queryTSendOrders" parameterType="java.util.Map"
		resultType="java.util.Map">
        <![CDATA[
			select 
				cityname,
				IFNULL(platformid,'') as platformid,
				IFNULL(storeno,'') as storeno,
				IFNULL(storename,'') as storename,
				IFNULL(username,'') as username,
				deptchannelid,
				IFNULL(deptname,'') as deptname,
				IFNULL(channelname,'') as channelname,
				datanum,
				date_format(createtime,'%Y-%m-%d %h:%i') as createtime
			from ds_pes_order_empchannel_month where year =#{year} and month =#{month}
		]]>
		 <if test="null != platformid and '' != platformid">
              <![CDATA[                   
                  and platformid =#{platformid}
              ]]>
         </if>
		   <if test="null != storeids and null != storeids">
               <![CDATA[                   
                  and storeno IN (${storeids})
               ]]>
           </if>
	    <if test="null != limitcond and '' != limitcond">
	       <![CDATA[                   
	          LIMIT ${limitcond}
	       ]]>
		</if>              
	</select>
	
	<insert id="addTSendOrders" parameterType="java.util.Map">
		<![CDATA[
			insert into ds_pes_order_empchannel_month(
				cityname,platformid,storeno,storename,username,deptchannelid,deptname,channelname,datanum,
				year,month,createtime) 
			values(
				#{cityname},#{platformid},#{storeno},#{storename},#{username},
				#{deptchannelid},#{deptname},#{channelname},#{datanum},
				YEAR(date_sub(now(),interval 1 day)),MONTH(date_sub(now(),interval 1 day)),NOW()
			)
		]]>
	</insert>
	
	<delete id="deleteByYearMonth" parameterType="java.util.Map">
		<![CDATA[
			delete from ds_pes_order_empchannel_month where year =#{year} and month =#{month}
		]]>
	</delete>
	
	<select id="queryTSendOrdersChannelByMonth" parameterType="java.util.Map"
		resultType="java.util.Map">
        <![CDATA[
        select ifnull(sum(datanum),0) as sendordersum,count(*) as totalcount from (
			select 
				cityname,
				IFNULL(platformid,'') as platformid,
				IFNULL(storeno,'') as storeno,
				IFNULL(storename,'') as storename,
				IFNULL(username,'') as username,
				deptchannelid,
				IFNULL(deptname,'') as deptname,
				IFNULL(channelname,'') as channelname,
				datanum,
				date_format(createtime,'%Y-%m-%d %h:%i') as createtime
			from ds_pes_order_empchannel_month where year =#{year} and month =#{month} and storeno IN (${storeids})) sendorderChanline
		]]>
	</select>
	
	<insert id="addTSendOrdersByMassOrder" parameterType="java.util.Map">
		<![CDATA[
			insert into ds_pes_order_empchannel_month(
				storeno,platformid,cityname,storename,employee_no,username,deptchannelid,deptname,channelname,datanum,
				year,month,createtime
			) 
			select 
				empline.storeno,
				empline.platformid,
				empline.cityname,
				empline.storename,
				empline.employee_no,
				thuman.`name` as username,
				empline.deptchannelid,
				empline.deptname,
				empline.channelname,
				empline.datanum,
				YEAR(date_sub(now(),interval 1 day)),
				MONTH(date_sub(now(),interval 1 day)),
				NOW()
			from (
				select 
					tor.store_city_name as cityname,
					tor.store_id as platformid,
					IFNULL(tor.store_code,'') as storeno,
					tor.store_name as storename,
					tor.employee_no as employee_no,
					tor.channel_id as deptchannelid,
					tor.department_name as deptname,
					tor.channel_name as channelname,
					count(tor.id) as datanum
				from df_mass_order_monthly tor
				where tor.sign_time >=#{begindate} 
				and tor.sign_time <DATE_ADD(DATE(#{enddate}), INTERVAL 1 DAY)
				and tor.store_name not like '%测试%' 
				and tor.eshop_name not like '%测试%'
				and tor.store_white !='QA'
				and tor.eshop_white !='QA'
				and tor.business_model_id !='fakemodelforexpress0000000000001' 
				and tor.bussiness_group_id !='8ad8ef90610bf1ff01610c3830a605e6'
				group by tor.store_id,tor.employee_id,tor.channel_id
			) empline
			left join t_humanresources thuman on (empline.employee_no = thuman.employee_no)
		]]>
	</insert>	
	
	
		
</mapper>