<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.master.TStoreTradeHistoryMapper">


	<select id="queryTStoreTradeHistory" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
			select
			storeno, 
			storename,
			order_amount,
			order_count
			from ds_storetrade_history
		]]>
	</select>
	
	<insert id="addTStoreTradeHistory" parameterType="java.util.Map">
		<![CDATA[
			insert into ds_storetrade_history(
				platformid, storename,storeno,order_amount,order_count,update_time
			) 
			values(
				#{platformid},#{storename},#{storeno},#{order_amount},#{order_count},NOW()
			)
			on duplicate key update   
			order_amount = order_amount + values(order_amount), 
			order_count = order_count + values(order_count),
			update_time = now()
		]]>
	</insert>
</mapper>