<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.master.WorkRecordMapper">


	<select id="queryWorkRecords" parameterType="java.util.Map"
		resultType="java.util.Map">
        <![CDATA[
			SELECT
			  	workline.employee_no,
			  	workline.score
			FROM
				t_work_record_total workmaster, t_work_record workline,t_store
			WHERE workmaster.id = workline.workrecord_id
				  and workmaster.store_id = t_store.store_id
				  and workmaster.commit_status = 3
				  and workmaster.work_month =#{work_month}
				  and t_store.name =#{storename}
			order by employee_no desc
		]]>
	</select>

</mapper>