<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="HumanresourcesEntity" type="com.guoanshequ.dc.das.model.Humanresources"/>
        <typeAlias alias="AuthEntity" type="com.guoanshequ.dc.das.model.Auth"/>
        <typeAlias alias="PersonEntity" type="com.guoanshequ.dc.das.model.Person"/>
        <typeAlias alias="DfCustomerMonthEntity" type="com.guoanshequ.dc.das.model.DfCustomerMonth"/>
        <typeAlias alias="DFOrderRealTimeEntity" type="com.guoanshequ.dc.das.model.DFOrderRealtime"/>
        <typeAlias alias="DfValidCustomerEntity" type="com.guoanshequ.dc.das.model.DfValidCustomer"/>
        <typeAlias alias="DFOrderPubseasEntity"  type="com.guoanshequ.dc.das.model.DFOrderRealtime"/>
        <typeAlias alias="MassOrderEntity" type="com.guoanshequ.dc.das.model.DfMassOrder"/>
        <typeAlias alias="EmployeeMoreInfo" type="com.guoanshequ.dc.das.model.EmployeeMoreInfo"/>
        <typeAlias alias="DistCityCodeEntity" type="com.guoanshequ.dc.das.model.DistCityCode"/>
        <typeAlias alias="StoreEntity" type="com.guoanshequ.dc.das.model.Store"/>
        <typeAlias alias="CityDataStatisticsEntity" type="com.guoanshequ.dc.das.model.CityDataStatistics"/>
        <typeAlias alias="VillageEntity" type="com.guoanshequ.dc.das.model.Village"/>
        <typeAlias alias="TinyVillageEntity" type="com.guoanshequ.dc.das.model.TinyVillage"/>
        <typeAlias alias="BuildingEntity" type="com.guoanshequ.dc.das.model.Building"/>
        <typeAlias alias="HouseEntity" type="com.guoanshequ.dc.das.model.House"/>
        <typeAlias alias="AttachmentEntity" type="com.guoanshequ.dc.das.model.Attachment"/>
        <typeAlias alias="ImsTbsdgdsEntity" type="com.guoanshequ.dc.das.model.ImsTbsdgds"/>
        <typeAlias alias="OrderItemEntity" type="com.guoanshequ.dc.das.model.OrderItem"/>
        <typeAlias alias="ContractEntity" type="com.guoanshequ.dc.das.model.Contract"/>
        <typeAlias alias="ImsTbOCountEntity" type="com.guoanshequ.dc.das.model.ImsTbOCount"/>
        <typeAlias alias="ImsTbOCountgEntity" type="com.guoanshequ.dc.das.model.ImsTbOCountg"/>
        <typeAlias alias="ImsTbOlEntity" type="com.guoanshequ.dc.das.model.ImsTbOl"/>
        <typeAlias alias="ImsTbStoreEntity" type="com.guoanshequ.dc.das.model.ImsTbStore"/>
    </typeAliases>
</configuration>