<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="ImsTbsdgdsEntity" type="com.guoanshequ.dc.das.model.ImsTbsdgds"/>
        <typeAlias alias="ImsTbOCountEntity" type="com.guoanshequ.dc.das.model.ImsTbOCount"/>
        <typeAlias alias="ImsTbOCountgEntity" type="com.guoanshequ.dc.das.model.ImsTbOCountg"/>
        <typeAlias alias="ImsTbOlEntity" type="com.guoanshequ.dc.das.model.ImsTbOl"/>
        <typeAlias alias="ImsTbStoreEntity" type="com.guoanshequ.dc.das.model.ImsTbStore"/>
    </typeAliases>
</configuration>
