<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="HumanresourcesEntity" type="com.guoanshequ.dc.das.model.Humanresources"/>
        <typeAlias alias="AuthEntity" type="com.guoanshequ.dc.das.model.Auth"/>
        <typeAlias alias="PersonEntity" type="com.guoanshequ.dc.das.model.Person"/>
        <typeAlias alias="DfCustomerAmount" type="com.guoanshequ.dc.das.model.DfCustomerAmount"/>
        <typeAlias alias="DFOrderRealTimeEntity" type="com.guoanshequ.dc.das.model.DFOrderRealtime"/>
    </typeAliases>
</configuration>