<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60" status="warn">
    <Properties>
        <Property name="path">/tomcat/logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </Console>
        <File name="App-Appender" fileName="${path}/ds.log" >
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </File>
        <!-- <File name="Spring-Appender" fileName="${path}/spring_log.log" >
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </File> -->
    </Appenders>
    <Loggers>
    <logger name="org.springframework.scheduling.annotation.ScheduledAnnotationBeanPostProcessor" level="DEBUG"/>
        <!-- <Logger name="org.springframework" level="debug" additivity="false">
            <AppenderRef ref="Spring-Appender"/>
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <logger name="org.springframework.scheduling.annotation.ScheduledAnnotationBeanPostProcessor" level="INFO"/>
        <Logger name="com.guoanshequ.dc.das" level="debug" additivity="false">
            <AppenderRef ref="App-Appender"/>
            <AppenderRef ref="Console-Appender"/>
        </Logger> -->
        <Root level="debug">
            <AppenderRef ref="Console-Appender"/>
            <AppenderRef ref="App-Appender"/>
        </Root>
    </Loggers>
</Configuration>