<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.slave.AbnormalOrderMapper">

	<!-- 自动：企业购A 所有企业购E店里面的订单-->
	<select id="queryAbnorOrderA" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
			select
			tor.order_sn as ordersn,
			tsa.name as cityname,
			ts.code as storeno,
			ts.`name` as storename,
			LEFT(tesr.role_name,POSITION('_' IN tesr.role_name)-1) AS channelname,
			SUBSTRING(tesr.role_name,POSITION('_' IN tesr.role_name)+1) AS deptname,
			tor.trading_price as tradingprice,
			'企业购' as abnortype,
			'auto' as datatype,
			0 as status,
			tof.create_time as signedtime,
			YEAR(date_sub(now(),interval 1 day)) as year ,
			MONTH(date_sub(now(),interval 1 day)) as month ,
			NOW() as createtime,
			NOW() as updatetime
			from t_order tor,df_order_flow_monthly tof,t_store ts,t_eshop te,t_ed_sys_role tesr,t_sys_area tsa
			where tor.id = tof.order_id
			and tof.order_status ='signed'
			and tof.create_time >=#{begindate} and tof.create_time<DATE_ADD(DATE(#{enddate}), INTERVAL 1 DAY)
			and tor.store_id = ts.id
			and tor.eshop_id = te.id
			and te.id in (${eshopids})
			and tesr.id = te.department_id and tesr.role_name LIKE '%\_%'
			and te.name NOT LIKE '%测试%' and te.white!='QA'
			and ts.name NOT LIKE '%测试%' and ts.status=0 and ts.white!='QA'
			and ts.city_code = tsa.code and tsa.level = 2
			and ts.number IN (${storeids}) 
		]]>
	</select>
	
	<!--自动： 营销费用异常B 优惠力度大于50%的（优惠券力度大于总金额50%）-->
	<select id="queryAbnorOrderB" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
			select
			tor.order_sn as ordersn,
			tsa.name as cityname,
			ts.code as storeno,
			ts.`name` as storename,
			LEFT(tesr.role_name,POSITION('_' IN tesr.role_name)-1) AS channelname,
			SUBSTRING(tesr.role_name,POSITION('_' IN tesr.role_name)+1) AS deptname,
			tor.trading_price as tradingprice,
			'营销费用异常' as abnortype,
			'auto' as datatype,
			0 as status,
			tof.create_time as signedtime,
			YEAR(date_sub(now(),interval 1 day)) as year ,
			MONTH(date_sub(now(),interval 1 day)) as month ,
			NOW() as createtime,
			NOW() as updatetime
			from t_order tor,df_order_flow_monthly tof,t_store ts,t_eshop te,t_ed_sys_role tesr,t_sys_area tsa
			where tor.id = tof.order_id
			and tof.order_status ='signed'
			and tof.create_time >=#{begindate} and tof.create_time<DATE_ADD(DATE(#{enddate}), INTERVAL 1 DAY)
			and tor.store_id = ts.id
			and tor.eshop_id = te.id
			and tesr.id = te.department_id and tesr.role_name LIKE '%\_%'
			and te.name NOT LIKE '%测试%' and te.white!='QA'
			and ts.name NOT LIKE '%测试%' and ts.status=0 and ts.white!='QA'
			and ts.city_code = tsa.code and tsa.level = 2
			and ts.number IN (${storeids}) 
			and tor.payable_price/tor.trading_price < 0.5
		]]>
	</select>
	
	<!-- 手动筛选:异常订单A
		同一手机号在同一个月在同一门店下单大于等于10单的订单且金额大于1000
	-->
	<select id="queryAbnorOrderDownA" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
			select
			tor.order_sn as ordersn,
			tc.mobilephone as mobilephone,
			tc.id as customername,
			tsa.name as cityname,
			ts.code as storeno,
			ts.`name` as storename,
			LEFT(tesr.role_name,POSITION('_' IN tesr.role_name)-1) AS channelname,
			SUBSTRING(tesr.role_name,POSITION('_' IN tesr.role_name)+1) AS deptname,
			tor.trading_price as tradingprice,
			'异常订单' as abnortype,
			'manual' as datatype,
			0 as status,
			tof.create_time as signedtime,
			YEAR(date_sub(now(),interval 1 day)) as year ,
			MONTH(date_sub(now(),interval 1 day)) as month ,
			NOW() as createtime,
			NOW() as updatetime
			from t_order tor,df_order_flow_monthly tof,t_store ts,t_eshop te,t_ed_sys_role tesr,t_sys_area tsa,t_customer tc,(
					select
					customer_id,tor.store_id
					from t_order tor,df_order_flow_monthly tof
					where tor.id = tof.order_id
					and tof.order_status ='signed'
					and tof.create_time >=#{begindate} and tof.create_time<DATE_ADD(DATE(#{enddate}), INTERVAL 1 DAY)
					and tor.trading_price >1000
					group by customer_id,tor.store_id
					having count(*)>=10 
			) cusline
			where tor.id = tof.order_id
			and tof.order_status ='signed'
			and tof.create_time >=#{begindate} and tof.create_time<DATE_ADD(DATE(#{enddate}), INTERVAL 1 DAY)
			and tor.store_id = ts.id
			and tor.eshop_id = te.id
			and tesr.id = te.department_id and tesr.role_name LIKE '%\_%'
			and te.name NOT LIKE '%测试%' and te.white!='QA'
			and ts.name NOT LIKE '%测试%' and ts.status=0 and ts.white!='QA'
			and ts.city_code = tsa.code and tsa.level = 2
			and ts.number IN (${storeids}) 
			and tor.customer_id = tc.id
			and tor.trading_price >1000 
			and tor.customer_id = cusline.customer_id
			and tor.store_id = cusline.store_id
			order by tor.customer_id,tor.store_id
		]]>
	</select>
	
	<!-- 手动筛选:代客下单异常 B
		国安侠手机号在同一门店，一月内下单量大于等于5单的订单，金额大于1000
	-->
	<select id="queryAbnorOrderDownB" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
			select
			tor.order_sn as ordersn,
			tc.mobilephone as mobilephone,
			tc.id as customername,
			tsa.name as cityname,
			ts.code as storeno,
			ts.`name` as storename,
			LEFT(tesr.role_name,POSITION('_' IN tesr.role_name)-1) AS channelname,
			SUBSTRING(tesr.role_name,POSITION('_' IN tesr.role_name)+1) AS deptname,
			tor.trading_price as tradingprice,
			'代客下单异常' as abnortype,
			'manual' as datatype,
			0 as status,
			tof.create_time as signedtime,
			YEAR(date_sub(now(),interval 1 day)) as year ,
			MONTH(date_sub(now(),interval 1 day)) as month ,
			NOW() as createtime,
			NOW() as updatetime
			from t_order tor,df_order_flow_monthly tof,t_store ts,t_eshop te,t_ed_sys_role tesr,t_sys_area tsa,t_customer tc,(
					select
					customer_id,tor.store_id
					from t_order tor,df_order_flow_monthly tof
					where tor.id = tof.order_id
					and tof.order_status ='signed'
					and tof.create_time >=#{begindate} and tof.create_time<DATE_ADD(DATE(#{enddate}), INTERVAL 1 DAY)
					and tor.trading_price >1000
					group by customer_id,tor.store_id
					having count(*)>=5
			) cusline
			where tor.id = tof.order_id
			and tof.order_status ='signed'
			and tof.create_time >=#{begindate} and tof.create_time<DATE_ADD(DATE(#{enddate}), INTERVAL 1 DAY)
			and tor.store_id = ts.id
			and tor.eshop_id = te.id
			and tesr.id = te.department_id and tesr.role_name LIKE '%\_%'
			and te.name NOT LIKE '%测试%' and te.white!='QA'
			and ts.name NOT LIKE '%测试%' and ts.status=0 and ts.white!='QA'
			and ts.city_code = tsa.code and tsa.level = 2
			and ts.number IN (${storeids}) 
			and tor.customer_id = tc.id
			and tor.trading_price >1000 
			and tor.customer_id = cusline.customer_id
			and tor.store_id = cusline.store_id
			order by tor.customer_id,tor.store_id
		]]>
	</select>
	
	<!--手动筛选:团购刷单C
		团购商品，同一门店一个月内同一商品且金额大于1000且订单量超过5的订单
	-->
	<select id="queryAbnorOrderDownC" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
			select
			tor.order_sn as ordersn,
			tc.mobilephone as mobilephone,
			tc.id as customername,
			tsa.name as cityname,
			ts.code as storeno,
			ts.`name` as storename,
			LEFT(tesr.role_name,POSITION('_' IN tesr.role_name)-1) AS channelname,
			SUBSTRING(tesr.role_name,POSITION('_' IN tesr.role_name)+1) AS deptname,
			tor.trading_price as tradingprice,
			'团购刷单' as abnortype,
			'manual' as datatype,
			0 as status,
			tof.create_time as signedtime,
			YEAR(date_sub(now(),interval 1 day)) as year ,
			MONTH(date_sub(now(),interval 1 day)) as month ,
			NOW() as createtime,
			NOW() as updatetime
			from t_order tor,df_order_flow_monthly tof,t_store ts,t_eshop te,t_ed_sys_role tesr,t_sys_area tsa,t_customer tc,t_order_item toi,(
					select
					tor.store_id,toi.eshop_pro_id
					from t_order tor,df_order_flow_monthly tof,t_order_item toi
					where tor.id = tof.order_id
					and tor.id = toi.order_id
					and tof.order_status ='signed'
					and tof.create_time >=#{begindate} and tof.create_time<DATE_ADD(DATE(#{enddate}), INTERVAL 1 DAY)
					and groupon_instance_id is not null
					and tor.trading_price >1000
					group by tor.store_id
					having count(*)>=5
			) tmpline
			where tor.id = tof.order_id
			and tof.order_status ='signed'
			and tof.create_time >=#{begindate} and tof.create_time<DATE_ADD(DATE(#{enddate}), INTERVAL 1 DAY)
			and tor.store_id = ts.id
			and tor.eshop_id = te.id
			and tesr.id = te.department_id and tesr.role_name LIKE '%\_%'
			and te.name NOT LIKE '%测试%' and te.white!='QA'
			and ts.name NOT LIKE '%测试%' and ts.status=0 and ts.white!='QA'
			and ts.city_code = tsa.code and tsa.level = 2
			and ts.number IN (${storeids}) 
			and tor.customer_id = tc.id
			and tor.groupon_instance_id is not null
			and tor.trading_price >1000 
			and tor.id = toi.order_id
			and tor.store_id = tmpline.store_id
			and toi.eshop_pro_id = tmpline.eshop_pro_id
			order by tor.store_id
		]]>
	</select>
	
	<!--手动筛选:下架异常订单D
		当月下架产品存在交易记录的订单，金额大于1000的订单
	-->
	<select id="queryAbnorOrderDownD" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
			select
			tor.order_sn as ordersn,
			tc.mobilephone as mobilephone,
			tc.id as customername,
			tsa.name as cityname,
			ts.code as storeno,
			ts.`name` as storename,
			LEFT(tesr.role_name,POSITION('_' IN tesr.role_name)-1) AS channelname,
			SUBSTRING(tesr.role_name,POSITION('_' IN tesr.role_name)+1) AS deptname,
			tor.trading_price as tradingprice,
			'下架异常订单' as abnortype,
			'manual' as datatype,
			0 as status,
			tof.create_time as signedtime,
			YEAR(date_sub(now(),interval 1 day)) as year ,
			MONTH(date_sub(now(),interval 1 day)) as month ,
			NOW() as createtime,
			NOW() as updatetime
			from t_order tor,df_order_flow_monthly tof,t_store ts,t_eshop te,t_ed_sys_role tesr,t_sys_area tsa,t_customer tc,t_order_item toi,t_product tpc
			where tor.id = tof.order_id
			and tof.order_status ='signed'
			and tof.create_time >=#{begindate} and tof.create_time<DATE_ADD(DATE(#{enddate}), INTERVAL 1 DAY)
			and tor.store_id = ts.id
			and tor.eshop_id = te.id
			and tesr.id = te.department_id and tesr.role_name LIKE '%\_%'
			and te.name NOT LIKE '%测试%' and te.white!='QA'
			and ts.name NOT LIKE '%测试%' and ts.status=0 and ts.white!='QA'
			and ts.city_code = tsa.code and tsa.level = 2
			and ts.number IN (${storeids}) 
			and tor.customer_id = tc.id
			and tor.trading_price >1000 
			and tor.id = toi.order_id
			and toi.eshop_pro_id = tpc.id and tpc.content_shelf ='off' 
			and tpc.update_time >#{begindate} and tpc.update_time <DATE_ADD(DATE(#{enddate}), INTERVAL 1 DAY)
			group by tor.id
			order by tor.store_id
		]]>
	</select>
</mapper>