<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.slave.AreaPubseasNewaddCusMapper">

	<!-- 公海订单指定人员片区拉新 -->
	<select id="queryAreaPubseasNewaddCus" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
SELECT
		tatob.storeno,
		tatob.store_name,
		tatob.employee_no,
		tatob.employee_name,
		ifnull(bb.num,0) new_10_count,
		YEAR(date_sub(now(),interval 1 day)) as year ,
		MONTH(date_sub(now(),interval 1 day)) as month ,
		NOW() as createtime
FROM
		( SELECT DISTINCT employee_no , employee_name , df_storeno AS storeno ,df_store_name AS store_name
			FROM tmp_order_pubseas_monthly 
			WHERE df_ispubseas =1 AND employee_no is not null 
			AND df_signed_time >=#{begindate} AND df_signed_time < DATE_ADD(DATE(#{enddate}), INTERVAL 1 DAY)) tatob
LEFT JOIN 
		(
			SELECT
					   t_store_custom.employee_no,
					   t_store_custom.employee_name,
					   t_store_custom.storeno,
					   count(t_store_custom.customer_id) num
			FROM
				(
					SELECT t_m1.store_id,
						   t_m1.customer_id,
						   t_m1.employee_no,
						   t_m1.employee_name,
						   t_m1.storeno
					FROM
							(
								SELECT tor.store_id, 
										tor.customer_id, 
										tor.trading_price,
										topm.employee_no,
										topm.employee_name,
										topm.df_storeno as storeno
								FROM t_eshop te
								JOIN t_order tor ON (te.id=tor.eshop_id)
								JOIN tmp_order_pubseas_monthly topm ON( tor.id = topm.df_order_id 
															AND topm.df_ispubseas =1 
															AND topm.employee_no is not null)
								JOIN df_order_flow tof ON (tor.id=tof.order_id
									AND tof.order_status='signed'
									AND tof.create_time>=DATE(#{begindate})
									AND tof.create_time<DATE_ADD(DATE(#{enddate}),INTERVAL 1 DAY))
								WHERE te.`name` NOT LIKE '%测试%' AND te.white!='QA'
								GROUP BY tor.store_id,tor.customer_id HAVING SUM(tor.trading_price)>10.0
							) t_m1
				  LEFT JOIN
							(
								SELECT tor_in.store_id, tor_in.customer_id
								FROM t_eshop te_in
								JOIN t_order tor_in ON (te_in.id=tor_in.eshop_id )
								JOIN df_order_flow tof_in ON (tor_in.id=tof_in.order_id
									AND tof_in.order_status='signed'
									AND tof_in.create_time<DATE(#{begindate}))
								WHERE te_in.`name` NOT LIKE '%测试%' AND te_in.white!='QA'
								GROUP BY tor_in.store_id,tor_in.customer_id
							) t_old ON (t_m1.store_id=t_old.store_id AND t_m1.customer_id=t_old.customer_id)
						WHERE t_old.store_id IS NULL
				) t_store_custom
				GROUP BY t_store_custom.employee_no 
		) bb ON (bb.employee_no = tatob.employee_no)
		]]>
		<where>
			<if test="null != employee_no and '' != employee_no">
	           <![CDATA[                   
	              employee_no in (${employee_no})
	           ]]>
			</if>
		</where>
	</select>
	
</mapper>