<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.slave.CustomerOrderMonthTradeMapper">

<select id="queryCustomerOrderMonthTradeBySignTime" parameterType="java.util.Map" resultType="java.util.Map">
	<![CDATA[
		SELECT 
			dosm.customer_id,
			dosm.store_id,
			DATE_FORMAT(dosm.df_signed_time,'%Y%m') order_ym,
			tc.mobilephone,
			IFNULL(SUM(dosm.trading_price),0) amount,
			MIN(dosm.order_sn) order_sn,
			a.name as city_name
		FROM df_order_signed_monthly dosm
			JOIN t_eshop te ON (te.id = dosm.eshop_id)
			JOIN t_customer tc on (tc.id = dosm.customer_id)
			JOIN t_store ts ON (ts.id = dosm.store_id)
			LEFT JOIN t_sys_area a on (ts.city_code = a.code and a.level = 2)
		WHERE te.`name` NOT LIKE '%测试%' AND te.white!='QA' 
			AND dosm.df_signed_time > #{begintime} and dosm.df_signed_time <= #{endtime}
		GROUP BY
			dosm.customer_id,
			dosm.store_id,
			DATE_FORMAT(dosm.df_signed_time,'%Y%m') 
	]]>
  </select>
  
   <select id="queryMaxSigntime" resultType="java.lang.String">
 		<![CDATA[
 			select max(df_signed_time) from  df_order_signed_monthly 
 		]]>
   </select>
   
</mapper>