<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.slave.MemberCountMapper">

	<!-- 查询社员成交量 -->
	<select id="queryMemberCount" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
		select
			count(1) as cou,te.city_code city_code
		from
			t_order tor,t_customer tcu,t_eshop te
		where 
		 	tor.create_time>'2018-05-17 23:59:59'
		and	tor.eshop_id = te.id 
		and te.super_member = 'yes' 
		and tor.customer_id=tcu.id 
		and tcu.associator_level='2' group by te.city_code
		]]>
	</select>
		<!-- 查询社员成交额 -->
	<select id="queryMemberSum" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
		select
			ifnull(sum(tor.trading_price),0) as cou,te.city_code city_code
		from
			t_order tor,t_customer tcu,t_eshop te
		where 
		 	tor.sign_time>'2018-05-17 23:59:59'
		and	tor.eshop_id = te.id 
		and te.super_member = 'yes'  
		and tor.customer_id=tcu.id 
		and tcu.associator_level='2' group by te.city_code
		]]>
	</select>
		<!-- 查询E店存在的城市 -->
	<select id="queryEshopCity" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
		select  distinct e.city_code citycode from t_eshop e where e.super_member='yes' and e.name not like '%测试%' and e.city_code <>'' and e.city_code  is not null
		]]>
	</select>
		<!-- 查询最受欢迎商品 -->
	<select id="queryhotProduct" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
			select
			tpo.create_time createtime,
			toi.eshop_pro_name pname,
			sum(toi.quantity) pcount
		from
			t_order_item toi,
			t_order tor,
			t_customer tcu,
			t_product tpo,
			t_eshop te
		where
			tcu.associator_level = '2'
		and te.super_member = 'yes'
		and te. name not like '%测试%'
		and te.city_code = #{city_code}
		and tpo.eshop_id = te.id
		and tor.sign_time > '2018-05-17 23:59:59'
		and tpo.content_name not like '%测试%'
		and tor.customer_id = tcu.id
		and toi.order_id = tor.id
		and toi.eshop_pro_id = tpo.id
		group by
			toi.eshop_pro_id
		order by
			pcount desc
		limit 15
		]]>
	</select>
		<!-- 查询无人问津商品 -->
	<select id="querycoolProduct" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
		select
			p.create_time createtime,
			p.content_name pname,
		  te.city_code citycode
		from
			t_product p,
			t_eshop te
		
		where
			te.super_member = 'yes' 
			and p.publish='yes' 
		and p.eshop_id = te.id
		AND not exists (
			select
				toi.eshop_pro_id
			from
				t_order_item toi
			where
				p.id = toi.eshop_pro_id
		)
		]]>
	</select>
	<!-- 查询动销商品量 -->
	<select id="queryMovingPin" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
		select
			count(toid.oid) cou,te.city_code city_code 
		from
			(
				select distinct
					eshop_pro_id as oid
				from
					t_order_item where create_time >  '2018-05-17 23:59:59' 
			) as toid,
			t_product p,
			t_eshop te
		where
			te.super_member = 'yes'
		and p.eshop_id = te.id
		and toid.oid = p.id
		GROUP BY
			te.city_code
		]]>
	</select>
	<!-- 查询e店订单量、成交额 -->
	<select id="queryEshopCount" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
			select
				count(1) cou,
				sum(tor.trading_price) sumprice,
				te.name ename 
			from
				t_order tor,
				t_eshop te 
			where
				tor.sign_time > '2018-05-17 23:59:59' 
			 and te.name not like '%测试%' 
			and te.super_member = 'yes' 
			and tor.eshop_id = te.id 
			group by 
				tor.eshop_id 
			order by 
				sumprice desc
		]]>
	</select>
	<!-- 查询e店社员、非社员总销量 -->
	<select id="queryAllEshopSum" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
		select
			ifnull(sum(tor.trading_price),0) as cou,te.city_code  city_code
		from
			t_order tor,t_customer tcu,t_eshop te
		where 
			tor.sign_time>'2018-05-17 23:59:59'
		and tor.sign_time<curdate() 
		and te.super_member = 'yes' 
		and te.name not like '%测试%' 
		and	tor.eshop_id = te.id 
		and tor.customer_id=tcu.id group by te.city_code
		]]>
	</select>
	<!-- 查询e店社员总销量 -->
	<select id="queryYesEshopSum" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
		select
			ifnull(sum(tor.trading_price),0) as cou,te.city_code  city_code
		from
			t_order tor,t_customer tcu,t_eshop te
		where 
			tor.sign_time>'2018-05-17 23:59:59'
		and tor.sign_time<curdate() 
		and te.super_member = 'yes' 
		and te.name not like '%测试%' 
		and	tor.eshop_id = te.id 
		and tor.customer_id=tcu.id 
		and tcu.associator_level='2'  group by te.city_code
		]]>
	</select>
	<!-- 查询e店非社员总销量 -->
	<select id="queryNoEshopSum" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
		select
			ifnull(sum(tor.trading_price),0) as cou,te.city_code  city_code
		from
			t_order tor,t_customer tcu,t_eshop te
		where 
			tor.sign_time>'2018-05-17 23:59:59'
		and tor.sign_time<curdate()  
		and	tor.eshop_id = te.id 
		and te.super_member = 'yes'
		and te.name not like '%测试%'  
		and tor.customer_id=tcu.id 
		and tcu.associator_level!='2'  group by te.city_code
		]]>
	</select>
	<!-- 查询商品订单分类-->
	<select id="queryProductCount" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
		select
			ifnull(count(1),0) cou,date_sub(curdate(), INTERVAL 1 DAY) data_date,ifnull(te.city_code,'0000')  city_code
		from
			t_order tor 
		left join t_eshop te on (tor.eshop_id=te.id) 
		join t_order_item toi on (tor.id = toi.order_id)
		join t_product tpr on (toi.eshop_pro_id = tpr.id)
		where
			date_sub(curdate(), INTERVAL 1 DAY) <= tor.sign_time
		and curdate()>tor.sign_time
		and te.super_member='yes' 
		and tpr.content_tag like #{content_tag}
		group by te.city_code	
		]]>
	</select>
	<!-- 查询安心合作社店铺-->
	<select id="queryEshopInfo" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
		select
			te.id eid,
			te. name ename,
			te.city_code citycode
		from
			t_eshop te
		where
			te.super_member = 'yes'
		and te. name not like '%测试%'
		and te.city_code <> ''
		and te.city_code is not null
		]]>
	</select>
	
</mapper>