<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.slave.OrderMapper">

	<!-- 根据order_sn获取order_id -->
	<select id="queryIdByOrderSn" parameterType="java.util.Map" resultType="java.lang.String">
        <![CDATA[
			select id from t_order where order_sn =#{order_sn} limit 1
		]]>
	</select>

	<!-- 根据order_sn获取address表中区块、坐标 -->	
	<select id="queryOrderAddressByOrderSn" parameterType="java.util.Map" resultType="java.util.Map">
		select taddr.latitude,taddr.longitude,taddr.placename
		from t_order tor
		join t_order_address taddr on (tor.order_address_id = taddr.id)
		where tor.order_sn =#{order_sn}
		limit 1
	</select>
	
   <select id="queryMaxSigntime" resultType="java.lang.String">
 		<![CDATA[
 			select max(sign_time) from t_order
 		]]>
   </select>
   	
</mapper>