<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.slave.ProductCityMapper">

	<select id="queryByProductCity" resultType="java.util.Map">
		<![CDATA[
			select tsb.name as province_name,
				ts.city_code as cityno,
				tsa.`name` as city_name,
				product_id,
				product_name,
				sum(cur_month) product_count 
			from t_product_store_stat dpross
				join t_store ts on (dpross.store_id = ts.id )
				join t_sys_area tsa on (ts.city_code = tsa.code and tsa.level = 2)
				join t_sys_area tsb on (tsa.parent_code = tsb.code and tsb.`level` = 1)
			where cur_month !=0
			group by tsa.`name`,product_id
		]]>
	</select>
	
	
	<select id="queryByProductCityDay" resultType="java.util.Map">
		<![CDATA[
			SELECT
				ts.city_code as cityno,
				tsa.`name` as city_name,
				tp.id AS product_id,
				tp.content_name AS product_name,
				count(1) as product_count,
				date(now()) as recdate  
			FROM
				df_order_signed_daily dosm
			JOIN t_order_item toi ON (dosm.id = toi.order_id)
			JOIN t_product tp ON (tp.id = toi.eshop_pro_id)
			JOIN t_store ts ON (ts.id = dosm.store_id)
			LEFT JOIN  t_sys_area tsa on (ts.city_code = tsa.code and tsa.level = 2)
			WHERE
				dosm.df_signed_time >= #{begintime}
			AND dosm.df_signed_time < #{endtime}
			group by ts.city_code,tp.id 
		]]>
	</select>
	
	<select id="queryProductDay" resultType="java.util.Map">
		<![CDATA[
			SELECT
				tpo.id AS product_id,
				tpo.content_name AS product_name,
				tpo.content_type AS product_type,
				DATE_FORMAT(tor.sign_time, '%Y-%m-%d') AS recdate,
				tor.store_id,
				tor.eshop_id,
				count(1) AS pcount,
				sum(toi.quantity) pquantity,
				tpo.ims_master_id
			FROM
				t_order tor,
				t_order_item toi,
				t_product tpo
			WHERE
				tor.sign_time >= #{begintime}
			AND tor.sign_time < #{endtime}
			AND toi.order_id = tor.id
			AND toi.eshop_pro_id = tpo.id
			AND tpo.content_name NOT LIKE '%测试%'
			GROUP BY
				tpo.id,
				tor.store_id
		]]>
	</select>
	
	<select id="queryProductStore" parameterType="java.util.Map" resultType="java.util.Map">
		<![CDATA[
			SELECT
				ts.CODE AS store_code,
				ts.NAME as store_name,
				ts.city_code
			FROM
				t_store ts
			WHERE
				ts.id = #{store_id}
		]]>
	</select>
	
	<select id="queryProductEshopName" parameterType="java.util.Map" resultType="java.util.Map">
		<![CDATA[
			SELECT
				te.NAME AS eshop_name,
				te.bussiness_group_id AS department_id,
				te.channel_id AS channel_id
			FROM
				t_eshop te
			WHERE
				te.id = #{eshop_id}
		]]>
	</select>
	
	<select id="queryProductCityName" parameterType="java.util.Map" resultType="java.util.Map">
		<![CDATA[
			SELECT
				ta.NAME AS city_name
			FROM
				t_sys_area ta
			WHERE
				ta. CODE = #{city_code} AND ta.LEVEL = 2
		]]>
	</select>
	
	<select id="queryProductDeptChannelName" parameterType="java.util.Map" resultType="java.util.Map">
		<![CDATA[
			SELECT
				MAX(channel_name) AS channel_name,
				MAX(dept_name) AS dept_name
			FROM
				(
					SELECT
						CASE WHEN td.LEVEL = 2 THEN	td.NAME END AS channel_name,
						CASE WHEN td.LEVEL = 1 THEN td.NAME END AS dept_name
					FROM
						t_department_channel td
					WHERE
						td.id = #{department_id} OR td.id = #{channel_id}
				) aa
		]]>
	</select>
</mapper>