<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.slave.SendOrderMapper">

	<!-- pes任务调度生成本地表取上月月度数据  ；社区动态：获取实时表格明细 -->
	<select id="querySendOrders" parameterType="java.util.Map"
		resultType="java.util.Map">
        <![CDATA[
			select 
			a.`name` as cityname,-- 城市名称
			ts.id as platformid,
			IFNULL(ts.code,'') as storeno,
			ts.`name` as storename,-- 门店名称
			IFNULL(tem.`name`,'') as username,-- 国安侠名称
			tesr.id as deptchannelid,
			IFNULL(SUBSTR(tesr.role_name FROM (POSITION('_' IN tesr.role_name)+1) FOR LENGTH(tesr.role_name)),'') as deptname,-- 事业部
			IFNULL(SUBSTR(tesr.role_name FROM 1 FOR (POSITION('_' IN tesr.role_name)-1)),'') AS channelname,-- 频道
			IFNULL(COUNT(DISTINCT tor.id),0) AS datanum -- 分各频道总送单量
			from  t_order  tor
			JOIN t_order_flow tof on tof.order_id=tor.id
			LEFT JOIN t_eshop tep on tep.id=tor.eshop_id
			LEFT JOIN t_ed_sys_role tesr on tesr.id=tep.department_id
			LEFT JOIN t_employee tem on tem.id=tor.employee_id
			LEFT JOIN t_store ts on ts.id=tor.store_id 
			LEFT JOIN  t_sys_area a on ts.city_code = a.code and a.level = 2
			where 
			tof.create_time>=#{begindate} and tof.create_time<DATE_ADD(DATE(#{enddate}), INTERVAL 1 DAY)
			and tof.order_status='signed'
			and EXISTS (select 1 from t_store where id=tor.store_id  and number IN (${storeids}))
			and ts.`name` not like '%测试%'
			and tep.`name` not like '%测试%'
			and ts.white!='QA'
			and tep.white!='QA'
			and tep.business_model_id!='fakemodelforexpress0000000000001'
			GROUP BY tem.id,tep.department_id,ts.id
			ORDER by ts.`name`,tem.`name`
		]]>
		<if test="null != limitcond and '' != limitcond">
           <![CDATA[                   
              LIMIT ${limitcond}
           ]]>
		</if>
	</select>
	
<!-- 社区动态：上门送单量圆圈总数，每日总数 -->
	<select id="querySendOrdersSumByDate" parameterType="java.util.Map"
		resultType="java.util.Map">
        <![CDATA[
        SELECT IFNULL(SUM(datanum),0) AS sendordersum,COUNT(*) AS totalcount FROM (
			select 
			a.`name` as cityname,-- 城市名称
			ts.id as platformid,
			ts.`name` as storename,-- 门店名称
			tem.`name` as username,-- 国安侠名称
			SUBSTR(tesr.role_name FROM (POSITION('_' IN tesr.role_name)+1) FOR LENGTH(tesr.role_name)) as deptname,-- 事业部
			SUBSTR(tesr.role_name FROM 1 FOR (POSITION('_' IN tesr.role_name)-1)) AS channelname,-- 频道
			COUNT(DISTINCT tor.id) datanum -- 分各频道总送单量
			from  t_order  tor
			JOIN t_order_flow tof on tof.order_id=tor.id
			LEFT JOIN t_eshop tep on tep.id=tor.eshop_id
			LEFT JOIN t_ed_sys_role tesr on tesr.id=tep.department_id
			LEFT JOIN t_employee tem on tem.id=tor.employee_id
			LEFT JOIN t_store ts on ts.id=tor.store_id 
			LEFT JOIN  t_sys_area a on ts.city_code = a.code and a.level = 2
			where 
			tof.create_time>=#{begindate} and tof.create_time<DATE_ADD(DATE(#{enddate}), INTERVAL 1 DAY)
			and tof.order_status='signed'
			and EXISTS (select 1 from t_store where id=tor.store_id  and number IN (${storeids}))
			and ts.`name` not like '%测试%'
			and tep.`name` not like '%测试%'
			and ts.white!='QA'
			and tep.white!='QA'
			and tep.business_model_id!='fakemodelforexpress0000000000001'
			GROUP BY tem.id,tep.department_id,ts.id
			ORDER by ts.`name`,tem.`name` ) sendorderline
		]]>
	</select>
</mapper>