<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.slave.StoreNumberMapper">

    <select id="queryStoreNumbers"  resultType="java.lang.String">
        <![CDATA[
			select number 
			from t_store 
			where status = 0 and white != 'QA' and name not like '%测试%'
		]]>
    </select>
    
    <select id="queryStoreNoes"  resultType="java.lang.String">
        <![CDATA[
			select concat('\'',code,'\'') as storeno 
			from t_store 
			where status = 0 and white != 'QA' and name not like '%测试%'
		]]>
    </select>
    
    <select id="queryStoreSum"  parameterType="java.util.Map" resultType="java.lang.Integer">
        <![CDATA[
			select count(*) 
			from t_store
			where status = 0 and white != 'QA' and name not like '%测试%'
			and number IN (${storeids})
		]]>
    </select>

</mapper>