<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.slave.UserMemberMapper">

	<!-- 根据创建时间和更新时间从customer表中获取社员信息，黄金社员associator_level为2的数据(目前不使用) -->
	<select id="queryUserMemberByCreateTime" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
		select 
			tc.id as customer_id,
			torp.store_id as regist_storeid,
			torp.type as member_type,
			tc.mobilephone as mobilephone,
			tc.create_time as regist_time,
			tc.associator_level as associator_level,
			tc.associator_expiry_date as associator_expiry_date,
			torp.pay_time as opencard_time
		from t_customer tc
		left join t_order_receipts torp  on (torp.customer_id = tc.id and torp.pay_status ='payed' and (torp.type = 'associator_start_2' OR torp.type = 'associator_up_2' OR torp.type='plus'))
		where ((tc.create_time >=#{begintime} and tc.create_time <=#{endtime} ) 
		or ( tc.update_time >=#{begintime} and tc.update_time <=#{endtime} ))
		and tc.associator_level = 2
		and tc.white!='QA'
		]]>
	</select>
	
	
	<!-- 根据创建时间和更新时间从customer表中获取社员信息，黄金社员 associator_level为2的数据-->
	<select id="queryUserMemberByLevelTime" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
			select 
				tc.id as customer_id,
				tc.mobilephone as mobilephone,
				tc.create_time as regist_time,
				tc.associator_level as associator_level,
				tc.associator_expiry_date as associator_expiry_date,
				tc.customer_source as customer_source,
				tc.associator_mode as associator_mode
			from t_customer tc
			where ((tc.create_time >=#{begintime} and tc.create_time <=#{endtime} ) 
			or ( tc.update_time >=#{begintime} and tc.update_time <=#{endtime} ))
			and tc.associator_level = #{level}
			and tc.white!='QA'
		]]>
	</select>
	
	<!-- 根据custore_id从收款表中查询注册门店、支付时间，获取(试用)社员的最新信息-->
	<select id="queryRegistInfoByCusIdOftry2" parameterType="String" resultType="OrderReceiptsEntity">
        <![CDATA[
			select 
				torp.store_id ,
				torp.type ,
				torp.pay_time 
			from  t_order_receipts torp
			where torp.customer_id= #{customer_id}
			and torp.pay_status ='payed' and torp.type = 'associator_start_-2'
			order by torp.create_time,torp.store_id desc 
			limit 1 
		]]>
	</select>
	
	<!-- 根据custore_id从收款表中查询注册门店、支付时间，获取社员的最新信息-->
	<select id="queryRegistInfoByCusIdOf2" parameterType="String" resultType="OrderReceiptsEntity">
        <![CDATA[
			select 
				torp.store_id ,
				torp.type ,
				torp.pay_time 
			from  t_order_receipts torp
			where torp.customer_id= #{customer_id}
			and torp.pay_status ='payed' and (torp.type = 'associator_start_2' OR torp.type = 'yearCard-19' OR torp.type='yearCard')
			order by torp.create_time,torp.store_id desc 
			limit 1 
		]]>
	</select>
	
	<!-- 根据创建时间从t_member_operation_record表中获取社员信息，试用黄金社员 associator_level为-2的数据-->
	<select id="queryUserMemberByLeveFromOpRecord" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
			select 
				tc.id as customer_id,
				tc.mobilephone as mobilephone,
				tc.create_time as regist_time,
				tc.associator_level as associator_level,
				tc.associator_expiry_date as associator_expiry_date
			from t_member_operation_record tmor
			join t_customer tc on (tmor.customer_id = tc.id)
			where (tmor.create_time >=#{begintime} and tmor.create_time <=#{endtime} )
			and tmor.level = #{level} and tmor.status = 0 
			and tc.white!='QA' 
		]]>
	</select>
	
	
	<!-- 统计时间段内每个城市取消的订单 -->
	<select id="queryCancelOrderCityByCreateTime" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
			select 
				tmpaa.canceldate,
				tmpaa.city_code,
				a.name as city_name,
				tmpaa.cancelcount
			from (        
				select 
					date(tof.create_time) canceldate,
					ts.city_code as city_code,
					count(order_id) cancelcount 
				from t_order_flow tof
				join t_order tor on (tor.id = tof.order_id)
				join t_eshop te on (te.id = tor.eshop_id)
				join t_store ts on (tor.store_id = ts.id and ts.white!='QA' AND ts.`status`=0)
				where tof.create_time >=#{begintime} and tof.create_time <=#{endtime} 
					and tof.order_status ='cancel'
					and te.super_member = 'yes'
				group by date(tof.create_time),ts.city_code
			) tmpaa
			left join t_sys_area a on (tmpaa.city_code = a.code and a.level = 2)
		]]>
	</select>
	
	<!-- 统计企业集采社员用户，并不会体现在付款表中，只是用户手动填写信息到mongo,以申请码的方式所成为2的会员 -->
	<select id="queryStoreIdOfGroupByCusid" parameterType="String" resultType="java.util.Map">
        <![CDATA[
			select tcard.customer_id,tcard.type,tbatch.store_id from t_card tcard
			join t_exchange_card_batch tbatch on (tcard.batch_id = tbatch.id)
			where customer_id =#{customer_id} 
			limit 1;
		]]>
	</select>
	
	<!-- 统计企业集采社员用户，并不会体现在付款表中，只是用户手动填写信息到mongo,以申请码的方式所成为2的会员 -->
	<select id="queryCityNoByStoreid" parameterType="String" resultType="String">
        <![CDATA[
			select city_code as regist_cityno from t_store where id = #{store_id}
		]]>
	</select>
	
	<!-- 根据创建时间从t_member_operation_record表中获取手动导入为2的社员创建时间即为开卡时间-->
	<select id="queryCreatetimeFromOpRecordByCusId" parameterType="String" resultType="String">
        <![CDATA[
			select 
				create_time as opencard_time
			from t_member_operation_record where level =2 
			and customer_id =#{customer_id} order by create_time asc 
			limit 1;
		]]>
	</select>
	
	<!-- 每天将前一天从2降级社员统计出来，更新社员统计表中相关社员的社员等级、社员到期时间、社员状态三个字段-->
	<select id="queryMemberToNormalByCreateTime" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
			select tmor.customer_id,
				tc.associator_level,
				tc.associator_expiry_date,
				0 as status 
			from t_member_operation_record tmor 
			join t_customer tc on (tmor.customer_id = tc.id)
			where tmor.old_level =2 and tmor.level !=2 and tmor.create_time>=#{begintime} and tmor.create_time<=#{endtime}
		]]>
	</select>
	
</mapper>