<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoanshequ.dc.das.dao.ylc.YanglcMapper">

	<!-- 查询养老餐用户 -->
	<select id="queryYlcUser" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
			select
				ylu.id as userid, ylu. name as username, ylu.tel as userphone, ylu.IDcard as usercard, ylu.create_time as createtime,
			 	ylu.store_id as storeid, ylc.city_code as citycode, ylc. name as storename, ylc.province_code as provincecode
			from
				c_customer ylu,c_store ylc
			where
				ylu.create_time>#{maxTime} 
			and ylu.IDcard not in (select IDcard from c_customer where substring(IDcard, 7, 2) > '18' and substring(IDcard, 7, 2) < '21' group by IDcard HAVING count(IDcard) > 1)
			and ylu.tel not in (select tel from c_customer where substring(IDcard, 7, 2) > '18' and substring(IDcard, 7, 2) < '21' group by tel HAVING count(tel) > 1)
			and substring(ylu.IDcard, 7, 2) > '18' and substring(ylu.IDcard, 7, 2) < '21' and length(ylu.tel)<30 and ylu.store_id = ylc.id 
		]]>
	</select>
	<select id="queryYlcOrder" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
			select
				id,store_id,customer_id,booking_time,zzw,delivery,state,create_time,status,serial_number
			from
				c_orders
			where
				create_time>#{maxOrderTime} 
			
		]]>
	</select>
	<select id="queryYlcOrderInfo" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
			select
				id,order_id,product_id,product_name,product_price,num,comment,create_time,status
			from
				c_order_item
			where
				create_time>#{maxOrderInfoTime} 
		]]>
	</select>
		
	
</mapper>